#navTop{
    background-color: #8a00e6;
    color: white;
    border-radius: 25px;
    padding: 20px;
    
}
.logo {
    color: white;
}
.content {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
    background-color: #8a00e6;
}
.card-body {
    background-color: #d699ff;
    border-bottom-right-radius: 25px;
}
.card-header {
    color: white;
}
img {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
button {
    background-color: #d699ff;
    color: white;
    margin: 10px;
    border-radius: 25px;
}
#submitBtn{
    background-color: #8a00e6;
    float: right;
    
}
.projectLink {
    color: white;
    font-size: 30px;
}
.logoWrap {
    cursor: pointer;
}
body {
    background-image: url(../images/GreyPolygons_1400x900.jpg);
    color:white;
}
.linkList {
    margin-right: 15px;
}