#navTop{
    background-color: #66d9ff;
    color: black;
    border-radius: 25px;
    padding: 20px;
    
}
.logo {
    color: black;
}
.content {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
    background-color: #66d9ff;
}
.card-body {
    background-color: #ccf2ff;
    border-bottom-right-radius: 25px;
}
.card-header {
    color: black;
}
img {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
button {
    background-color: #ccf2ff;
    color: black;
    margin: 10px;
    border-radius: 25px;
}
#submitBtn{
    background-color: #66d9ff;
    float: right;
    
}
.projectLink {
    color: black;
    font-size: 30px;
}
.logoWrap {
    cursor: pointer;
}
body {
    
    color:black;
}
.linkList {
    margin-right: 15px;
}
.shadow {
    z-index: 1;
}
.shadow::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: .5rem;
    filter: blur(0.4rem);
    opacity: 0.7;
    z-index: -1;
}